//重写基础色
$--colors: (
  'white': #ffffff,
  'black': #000000,
  'primary': (
    'base': #409eff,
  ),
  'success': (
    'base': #67c23a,
  ),
  'warning': (
    'base': #e6a23c,
  ),
  'danger': (
    'base': #f56c6c,
  ),
  'error': (
    'base': #f56c6c,
  ),
  'info': (
    'base': #909399,
  ),
  'test':(
    'base':#f12345
  )
);
$--types :primary, success, warning, danger, error, info;

//通过sass中的@forward with函数对var.scss文件的$colors变量进行重新复制
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: $--colors
);

@import "element-plus/theme-chalk/src/index.scss";
